* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth !important;
}

body {
  font-family: Lato, Helvetica, Arial, sans-serif;
  background-color: #272727;
}

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
}

/** Navbar **/

#navbar {
  background: #FFFDD0;
  color: rgb(13, 26, 38);
  position: fixed;
  top: 0;
  height: 72px;
  line-height: 70px;
  width: 100vw;
  z-index: 10;
}

.nav-wrapper {
  margin: auto;
  text-align: center;
  width: 90%;
}

.logo {
  float: left;
  margin-left: 28px;
  font-size: 1.5em;
  height: 30px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#navbar ul {
  display: inline-block;
  float: right;
  list-style: none;
  margin-right: 14px;
  text-align: right;
  transition: transform 0.5s ease-out;
}

#navbar li {
  display: inline-block;
}

#navbar li a {
  color: #131313;
  display: block;
  font-size: 0.75em;
  height: 50px;
  letter-spacing: 2px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

#navbar li a:hover {
  color: #bdb55c;
  transition: all 1s ease;
}

/* Animated Bottom Line */
#navbar li a:before, #navbar li a:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  background: rgb(13, 26, 38);
}

#navbar li a:before {
  left: 0;
  transition: 0.5s;
}



#navbar li a:hover:before {
  background: rgb(13, 26, 38);
  width: 100%;
  transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

#navbar li a:hover:after {
  background: transparent;
  width: 100%;
  /* transition: 0s; */
}

/** Content **/

.main-container {
  
  display: flex;
  flex-direction: row;
  margin: 0 48px;
}
.first {
  margin-top: 100px;
}
.second {
  height: 360 px;
  margin: 0;
}

.left-content {
  margin-right: 28px;
  flex: 45%;
  img {
    width: 50vw;
    height: 410px;
    border: 18px solid #afac8e;
    border-radius: 32px;
  }
}
.right-content {
  margin-left: 48px;
  flex: 45%;

}
.main-text p {
  font-size: 3em;
  font-weight: 600;
  color: #f7f2a4;
  letter-spacing: 1.5px;
}
.neira-pride p {
  margin-top: 4px;
  font-size: 2.75em;
  font-weight: 600;
  color: #f7f2a4;
  letter-spacing: 1.5px;
}

.sec-text {
  margin: 18px 0;
  color: #f5f1c2; 
  font-size: 1.10em;
  letter-spacing: 1px;
  line-height: 38px;
}

.scrollto-neira {
  text-align: center;
  margin: auto;
  color: #afac8e; 
  font-size: 1.10em;
  letter-spacing: 4px;
  margin: 38px 0 52px 0;
}


.leftsub-content {
  flex: 40%;
  padding: 28px 48px 28px 48px ;
  background-color: #303030;
}

.title-second {
  font-size: 2.5em;
  font-weight: 800;
  color: #f7f2a4;
  letter-spacing: 1.5px;
}

.rightsub-content {
  flex: 60%;
  padding: 28px 48px 28px 48px;
  background-color: #505050;
  img {
    border-radius: 12px;
    margin: 38px 0;
    opacity: 0.9;
  }
}

.quotes {
  font-size: 2em;
  color: #f7f2a4;
  background-color: #1313137a;
  padding: 32px;
  border-radius: 32px;
  q {
    font-style: italic;
    line-height: 45px;
    letter-spacing: 2px;
  }
  p {
    line-height: 45px;
  }
}

.badge {
  font-size: 1em;
  background-color: #505050;
  border-radius: 18px;
  padding: 3px 8px;
  margin-right: 8px;
}
.heading {
  margin: 48px 0px 4px 48px;
}

.build-desc {
  flex: 70%;
  margin: 10px 0;
}

.build-img {
  flex: 10%;
  margin: 8px 12px;
  img{
    width: 28vw;
    opacity: 0.65;
    min-height: 200px;
    max-height: 200px;
    border: 4px solid #afac8e;
    margin: 24px 0px 24px 48px;
    border-radius: 32px;
  }
}

.subheading {
  font-size: 1.50em;
  font-weight: 600;
  color: #f5f1c2; 
  letter-spacing: 1px;
  line-height: 38px;
  margin: 18px 0;
  
}

.bg-sec {
  margin-top: 28px;
  padding: 1px;
  background-color: #303030;
}

.mid-fyi {
  font-size: 1.10em;
  margin: 0 48px 0 48px;
  color: #f1f1f1;
  letter-spacing: 2px;
  line-height: 38px;
  background-color: #663333;
  padding: 12px 18px;
  border-radius: 12px;
}

#more {display: none;}
#more2 {display: none;}

.btn {
  margin: 18px 0 48px 0;
  text-align: center;
  button {
    letter-spacing: 2px;
    text-decoration: none;
    background-color: #303030;
    border: 1px solid #f5f1c2;
    padding: 14px;
    border-radius: 14px;
  }
}

.about {
  display: flex;
  margin: 32px 0 32px 48px;
}

.personal {
  display: flex;
  background-color: #383838;
  border-radius: 32px;
  padding: 0 32px 0 0;
}

.pfp {
  width: 132px;
  border-radius: 32px 0 0 32px;
}
.name {
  color: #f5f1c2;
  font-size: 1.6em;
  letter-spacing: 4px;
  margin: 26px 0 10px 34px;
}

.npm {
  color: #f5f1c2;
  font-size: 1.6em;
  letter-spacing: 4px;
  margin: 20px 0 12px 34px;
}

.page-container {
  margin: 90px 48px;
}

.first-heading {
  font-size: 2.5em;
  font-weight: 800;
  color: #f7f2a4;
  letter-spacing: 1.5px;
}

.slide{
  display: flex;
  gap: 40px;
  flex-direction: row;
  margin: 24px 0;
  img{
    max-width: 388px;
    max-height: 188px;
    border: 4px solid #afac8e;
    border-radius: 12px;
  }
}